In [10]:
import pandas as pd
import numpy as np
import sqlite3
from contextlib import closing
from datetime import datetime
import re

db = "test 2.db"

In [13]:
def get_date(name:int)->datetime:
    return datetime.strptime(
        re.findall(r"\d+", str(name))[0],
        r'%Y%m%d%H%M%S'
    ).strftime(r"%c")

def list_sessions():
    with closing(sqlite3.connect(db)) as conn:
        sessions = pd.read_sql(
            "SELECT id, notes, sensors FROM session", conn
            )
        sessions["date"] = sessions["id"].apply(get_date)

        return sessions

def get_session(uid:int):
    with closing(sqlite3.connect(db)) as conn:
        return pd.read_sql(
            f"SELECT * FROM session_{uid} WHERE (signal_strength0 == 0) and (signal_strength1 == 0) and (signal_strength2 == 0) and (signal_strength3 == 0) and (signal_strength4 == 0)", conn
        )

In [14]:
list_sessions()

                 id    notes  sensors                      date
0    20240824222007                 5  Sat Aug 24 22:20:07 2024
1    20240824222709                 5  Sat Aug 24 22:27:09 2024
2    20240824222810                 5  Sat Aug 24 22:28:10 2024
3    20240824223107                 2  Sat Aug 24 22:31:07 2024
4    20240824223239  pruebas        2  Sat Aug 24 22:32:39 2024
..              ...      ...      ...                       ...
295  20250624150849                 5  Tue Jun 24 15:08:49 2025
296  20250624151036                 5  Tue Jun 24 15:10:36 2025
297  20250627112746     None        5  Fri Jun 27 11:27:46 2025
298  20250707112541                 5  Mon Jul  7 11:25:41 2025
299  20250707113248                 5  Mon Jul  7 11:32:48 2025

[300 rows x 4 columns]